api_platform:
    swagger:
        api_keys:
            JWT:
                name: Authorization
                type: header
    title: Hello API Platform
    version: 1.0.0
    formats:
        jsonld: ['application/ld+json']
        json: ['application/json']
    defaults:
        pagination_enabled: true
        pagination_items_per_page: 10
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
        
